
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= yield %>

<h4>Update new title for album with id <%= @album.id %>:</h4>

  <%= form_with model: @album, :html => {:id => "edit-album-title" } do |f| %>
     <%= f.text_field :title, placeholder: "New title ...", value: "" %>
     <%= f.submit "Save" %>
  <% end %>


<script type="text/javascript">

  $(document).ready(function(){
      $("#edit-album-title").validate({
          rules: {
              "album[title]": "required"
          },
          messages: {
              "album[title]": "Please input new title"
          }
      })
  });

</script>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
