
<%= stylesheet_link_tag "style" %>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<script src="https://kit.fontawesome.com/3dc3c39fce.js" crossorigin="anonymous"></script>


    <nav class="navbar navbar-expand-md navbar-dark avatar px-5">
      <a class="navbar-brand font-weight-bold pl-lg-5" href="#">Fotobook</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <form class="form-inline mt-2 my-lg-0 w-100 col-lg-5 ">
              <input class="form-control my-lg-0 w-100" type="search" placeholder="Search Photo / Album" aria-label="Search">
            </form>

            <ul class="navbar-nav col-lg-auto text-center offset-lg-4">
              <li class="nav-item active d-none d-lg-block">
                <button type="button" class="nav-link btn btn-light font-weight-bold rounded-circle text-color">TT</button>
              </li>
              <li class="nav-item active mr-lg-5">
                <a class="nav-link" href="#">Thai Tran</a>
              </li>
              <li class="nav-item active ml-lg-5">
                <a class="nav-link" href="#">Logout</a>
              </li>
            </ul>
      </div>
    </nav>
    <div class="container-fluid h-100">
        <div class="row page h-100">
            <div class="col-lg-2 pt-lg-4 text-center">
                <a class="text-color font-weight-bold" href="#">Feeds</a>
                <div></div>
                <a class="text-secondary font-weight-bold" href="#">Discover</a>
            </div>
            <div class="col-lg-8 p-3 h-100">
              <div class="col bg-white h-100">
                <div class="row justify-content-center">
                  <div class="row m-3 btn-group">
                    <button class="btn rounded-left border avatar" id="photo-tab">PHOTO</button>
                    <button class="btn rounded-right border text-color">ALBUM</button>
                  </div>
                </div>
                <div class="row">
                  <% if @photos %>
                   <% @photos.each do |photo| %>
                   <div class="col-lg-6 col-sm-12 p-2 d-lg-inline-flex " >
                    <div class="col-lg-6 col-sm-12 pr-lg-0">
                     <img title="<%=photo.title%>" desc="<%=photo.description%>" src="https://www.islandair.com/wp-content/uploads/2018/07/ellie-adams-247024-unsplash.jpg" style="width:100%;height:100%;cursor:pointer" class="pop">
                   </div>
                   <div class="col-lg-6 p-2 col-sm-12 " style="display:block;background-color:#F8F8F8;">
                    <div class="container">
                      <div class="d-flex">
                        <img src="https://www.pngkey.com/png/full/230-2301779_best-classified-apps-default-user-profile.png" class="rounded-circle" alt="" />
                        <a href="#" class=" font-size font-weight-bold text-color"><%= "#{photo.user.lastname} #{photo.user.firstname}" %></a>
                      </div>
                      <div></div>
                      <span><b><%=photo.title%></b></span>
                      <p class="h-100"><%=photo.description%></p>
                      <div>
                        <span class="blue-heart"><i class="fas fa-heart"></i></span>
                        <span><small><%= photo.likes.size %> </small></span>
                        <span class="float-right mt-1"><small class="text-secondary "><%= photo.created_at.strftime("%I:%M %p %-d/%-m/%Y") %></small></span>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
                <% end %>

                </div>
              </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
